body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Estilos para a seção do topo */
.topo {
  background-color: rgb(0, 0, 0);
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  z-index: 999; /* Mantém o topo sobreposto ao conteúdo */
}

/* Estilos para a aba "Home" */
.topo .home a {
  color: red; /* Cor padrão da aba Home */
}

/* Mantém a cor ao passar o mouse */
.topo .home a:hover {
  color: red; /* Continua vermelho ao passar o mouse */
}

/* Se quiser destacar a aba ativa, use uma classe 'ativa' */
.topo .home a.ativa {
  color: red; /* Cor da aba Home quando ativa */
}

/* Estilos para telas menores */
@media (max-width: 768px) {
  nav li {
      margin: 5px;
  }
}

/* Estilos para o conteúdo principal */
.conteudo {
  background-image: url('img/fundo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;   
}