
:root {
  --primary-color: #8c812a;
  --secondary-color: #7e0f0d;
  --accent-color: #a21412;
  --background-color: #ECF0F1;
  --text-color: #8c812a;
}


body {
  background-image: url(img/fundo.png);
  margin-top: 100px;
}

.logo {
  text-align: center; /* Centraliza o conteúdo dentro da div .logo */
}

.logo > img {
  width: 200px;
  height: auto;
  object-fit: contain;
  margin: 80px auto 0 auto; /* Adiciona 50px de margem superior */
}

.menu-wrapper {
  position: relative;
}

.menu-toggle {
  display: none;
}

.menu-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
  cursor: pointer;
  z-index: 1002; /* Aumente o z-index para ficar acima da .hero */
}

.menu-btn img {
  width: 30px;
  height: 30px;
  
}

.side-menu {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #364b3b;
  transition: left 0.3s ease-in-out;
   z-index: 1001; /* Aumente o z-index para ficar acima da .hero */
}



body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.menu-toggle:checked ~ .side-menu {
  left: 0;
}

.side-menu ul {
  list-style-type: none;
  padding: 0;
  margin-top: 70px;
}

.side-menu ul li {
  padding: 15px 20px;
}

.side-menu ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.hero {
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh; /* Ajuste a altura conforme necessário */
  background-color: #f0f0f0;
  z-index: 999;
}



.hero-content {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 15px;
  border-radius: 5px;
}

.btn {
  display: inline-block;
  background-color: var(--secondary-color);
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: var(--accent-color);
}

.section {
  padding: 200px 0;
}

.section-title {
  text-align: center;
  text-decoration: none;
  margin-bottom: 30px;
  color: var(--primary-color);
}

.services-grid, .team-grid, .products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.service-item, .team-member, .product-item {
  background-color: #252926;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.team-member img {
  object-fit: cover;
  height: 200px; /* Ajuste a altura conforme necessário */
  width: 100%;
}

.testimonial {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

footer {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 20px 0;
}

.social-links a {
  color: white;
  text-decoration: none;
}
.social-links img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}



.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25D366;
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  text-decoration: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.whatsapp-button:hover {
  transform: scale(1.1);
}

@font-face {
  font-family: 'FontAwesome';
  src: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.whatsapp-icon::before {
  font-family: 'FontAwesome';
  content: '\f232';
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  
  nav ul li {
    margin-bottom: 10px;
  }
  
